.u-section-1 {
  background-image: url("../img/f11de0f4-f885-ea85-b5cd-4a7f2abced161.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 132px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 76px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -39px 118px 0 105px;
}

.u-section-1 .u-btn-2 {
  align-self: center;
  margin: -45px auto 0 971px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 76px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 45px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 136px;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 771px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -42px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -42px;
    margin-left: 551px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 68px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -95px;
    margin-right: 150px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 23px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 31px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}.u-section-2 {
  background-image: url("../img/f11de0f4-f885-ea85-b5cd-4a7f2abced16.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 972px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-table-1 {
  margin: 0;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-block-f068-19 {
  background-image: none;
}

.u-section-2 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-block-f068-53 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 813px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 376px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -14px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 15px;
    min-height: 34px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -58px;
    height: 124px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -36px;
    margin-bottom: -38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-2 {
    margin-top: -18px;
  }
}