.u-section-1 {
  background-image: url("../img/background16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-form-1 {
  height: 437px;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-form-1 {
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-form-1 {
    margin-bottom: 46px;
  }
}