.u-section-1 {
  background-image: url("../img/background161.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 650px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-metadata-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 415px auto 0 0;
}

.u-section-1 .u-btn-2 {
  margin: -45px auto 0 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-blog-1 {
    min-height: 573px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 324px;
  }
}.u-section-2 {
  background-image: url("../img/f11de0f4-f885-ea85-b5cd-4a7f2abced161.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 351px;
}

.u-section-2 .u-form-1 {
  height: 256px;
  margin: 19px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 170px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    width: 340px;
  }
}.u-section-3 {
  background-image: url("../img/f11de0f4-f885-ea85-b5cd-4a7f2abced161.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-text-1 {
  margin: 19px 1004px 0 19px;
}

.u-section-3 .u-table-1 {
  width: 1102px;
  margin: 17px auto 0;
}

.u-block-6be9-11 {
  height: 46px;
}

.u-block-6be9-18 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }
}