.u-section-1 {
  background-image: url("../img/background16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 661px;
}

.u-section-1 .u-table-1 {
  margin: 57px auto 60px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-block-f068-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}