.u-section-1 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-form-1 {
  height: 338px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-form-1 {
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-form-1 {
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }
}